# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Minecraft
natives/
libraries/
run/

# Legally Gray Area
src/main/java/net/minecraft
src/main/java/net/minecraftforge
src/main/java/optifine/
src/main/java/shadersmod
src/main/resources/